amqp==5.2.0
apturl==0.5.2
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
babel==2.17.0
bcrypt==3.2.0
billiard==4.2.0
black==24.8.0
blinker==1.9.0
Brlapi==0.8.3
celery==5.4.0
certifi==2020.6.20
cffi==1.16.0
channels==4.1.0
channels-redis==4.2.0
chardet==3.0.4
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.4
command-not-found==0.3
constantly==23.10.4
cryptography==42.0.8
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
dj-database-url==2.1.0
Django==5.0.4
django-after-response==0.2.2
django-cors-headers==4.3.1
django-debug-toolbar==4.4.2
django-filter==24.2
django-redis==5.4.0
django-storages==1.14.3
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
duplicity==0.8.21
Faker==25.2.0
fasteners==0.14.1
filelock==3.15.4
Flask==2.0.3
Flask-Babel==2.0.0
Flask-Cors==3.0.8
future==0.18.2
gunicorn==22.0.0
h2==4.1.0
hpack==4.0.0
httplib2==0.20.2
hyperframe==6.0.1
hyperlink==21.0.0
idna==2.6
importlib-metadata==4.6.4
incremental==22.10.0
inflection==0.5.1
itsdangerous==2.0.1
jeepney==0.7.1
Jinja2==3.0.3
keyring==23.5.0
kombu==5.3.7
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
monotonic==1.6
more-itertools==8.10.0
msgpack==1.0.8
mypy-extensions==1.0.0
mysql-connector-python==8.4.0
netifaces==0.11.0
oauthlib==3.2.0
packaging==24.0
paramiko==2.9.3
pathspec==0.12.1
pexpect==4.8.0
pillow==10.3.0
platformdirs==4.2.2
priority==1.3.0
prompt-toolkit==3.0.43
protobuf==3.12.4
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.20.1
pycodestyle==2.6.0
pycparser==2.22
pycryptodome==3.21.0
pycups==2.0.1
PyGObject==3.42.1
PyJWT==2.8.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==24.1.0
pyparsing==2.4.7
pyRFC3339==1.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
pytz==2024.1
pyxdg==0.27
PyYAML==6.0.1
redis==5.0.4
requests==2.18.4
SecretStorage==3.3.1
service-identity==24.1.0
six==1.16.0
spotipy==2.24.0
sqlparse==0.5.0
systemd-python==234
tomli==2.0.1
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.11.0
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.22
usb-creator==0.3.7
vine==5.1.0
virtualenv==20.26.3
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==2.0.3
whitenoise==6.6.0
xdg==5
xkit==0.0.0
yt-dlp==2024.11.18
ytmusicapi==1.8.2
zipp==1.0.0
zope.interface==6.4.post2
